@import "../../scss/variables";

.welcome-bg {
    background-image: url(../../assets/fondo.png);
    background-size: cover;
    border-radius: 3rem;
    margin: 13rem 5rem 5rem 5rem;
    padding: 10rem;
    color: $white;

    h1 {
        font-size: 4rem;
    }

    p {
        padding-top: 2rem;
        font-size: 3rem;
        font-weight: 500;
    }
}